@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Thai:wght@400;500;600&family=Poppins&display=swap');

:root {
    --color-black: #0C0C0D;
    --color-darkGray: #263238;
    --color-gray: #515151;
    --color-blue: #89DDFF;
    --color-yellow: #FFD700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
}

.shadow-header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.219);
}

.header-content-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.0625rem;
    display: flex;
    margin-top: 5px;
}

.header-content-text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: var(--color-gray);
}

.cards-section {
    margin-top: 5%;
}

.cards-section-title {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 2.5rem;
    color: var(--color-darkGray);
}

.section-arrow-button {
    background-color: var(--color-black);
    color: white;
    border-radius: 20px;
}

.section-arrow-button i {
    font-size: 1.5rem;
}

.section-img {
    border-radius: 20px;
}

.card {
    height: 170px;
    border-radius: 15px;
    box-shadow: 15px 15px var(--color-darkGray);
    font-family: 'Poppins', sans-serif;
    color: var(--color-black);
}

.card-blue {
    background-color: var(--color-blue);
}

.card-yellow {
    background-color: var(--color-yellow);
}

.article-text {
    font-size: 0.938rem;
}

.accordions-section {
    background-color: var(--color-darkGray);
    height: 100vh;
    margin-top: 6%;
    font-family: 'Poppins', sans-serif;
}

.accordions-section-title {
    color: white;
    font-size: 2rem;
}

/* .accordion-button:not(.collapsed) {
    background-color: var(--color-darkGray);
} */